
<div class="scrollable-main" *ngIf="!loading">
  <div class="mx-[10%]" *ngIf="!loading && index.mainIndex !== -1">
    <div *ngFor="let item of data.subtopic[index.mainIndex].information; let i = index" class="flex flex-col my-[10%] border-b-2 py-[10%] animate-fade-up animate-delay-100">
      <ng-container [ngSwitch]="item.type">
        <ng-container *ngSwitchCase="'text'">
          <section [id]="i">
            <h2>{{ item.title }}</h2>
            <p class="text-jump text-justify">{{ item.content }}</p>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <section [id]="i">
            <h2>{{ item.title }}</h2>
            <div class="w-full flex items-center justify-center my-4">
              <img [src]="item.content" alt="{{ item.title }}" />
            </div>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="'video'">
          <section [id]="i">
            <h2>{{ item.title }}</h2>
            <div class="w-full flex items-center justify-center my-4">
              <iframe width="560" height="315" [src]="viewVideo(item.content)" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </section>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <p>Tipo de contenido no reconocido</p>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div *ngIf="index.mainIndex === -1" class="animate-fade-down">
    <div class="parallax-container" [style.backgroundImage]="'url(' + data.linkImage+ ')'">
      <div class="content">
        <h1 class="text-with-shadow">{{data.name}}</h1>
      </div>
    </div>
    <div class="my-[10%] px-[10%] py-[10%] border-b-2 border-t-2 bg-[#fbfbfb] ">
      <h2>Descripcion</h2>
      <p>{{data.description}}</p>
    </div>
  </div>
</div>