<div class="login-body">
    <article class="login">
        <h3>Bienvenido a</h3>
        <h2>AMBIEFAC</h2>
        <form [formGroup]="formGroup" class="form">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control-1" placeholder="Nombre de usuario" formControlName="username">
                <div *ngIf="campoTieneError('username')" placement="top" ngbTooltip="Nombre de usuario no válido">
                    <i class="fa fa-exclamation-triangle text-danger"></i>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control-1" placeholder="Nombres y apellidos" formControlName="fullName">
                <div *ngIf="campoTieneError('fullName')" placement="top" ngbTooltip="Nombre o Apellidos no válido">
                    <i class="fa fa-exclamation-triangle text-danger"></i>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                <input type="password" class="form-control-1" placeholder="Contraseña" formControlName="password">
                <div *ngIf="campoTieneError('Contraseña')" placement="top" ngbTooltip="Correo electrónico no válido">
                    <i class="fa fa-exclamation-triangle text-danger"></i>
                </div>
            </div>
            <button type="button" (click)="register()">Registrar</button>
        </form>
    </article>
    <article>
        <div class="article-info">
            <h3>AMBIEFAC</h3>
            <div class="content-info">
                <p>Descubre, Aprende y Transforma Tu Mundo</p>
                <button style="width: 100px;">
                    <div class="flex items-center" (click)="navigateToHome()" style="font-size: 22px; padding: 0px;">
                        <i class="fa-solid fa-angle-left mx-2"></i><span> volver </span>
                    </div>
                </button>
            </div>
        </div>
        <div class="large-circle"></div>
        <div class="large-circle-1"></div>
    </article>
</div>