<app-card-body [Titulo]="titulo" [linkBack]="'admin/consultar-curso'" [ButtonRigth]="navigateToAdd" [isSave]="false"
  [tooltip]="'Nuevo curso'">
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"size = "medium"color = "#fff"type = "square-jelly-box"[fullScreen]="false">
<div class=" flex flex-col items-center">
  <div class="spinner-border" role="status">
  </div>
  <span class="text-white">Loading...</span>
</div>
</ngx-spinner>
  <div class="flex flex-col items-center block ">
    <section class="bg-white w-100">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full show-box-table rounded-2">
            <div class="max-w-full overflow-x-auto rounded-1">
             <!--<table class="table-auto w-full rounded-1">
              
                <thead>
                  <tr class="bg-[#22c55e] text-center">
                    <th
                      class="w-1/6 min-w-[160px] text-lg font-semibold text-white py-3 px-3 lg:px-4 border-l border-transparent">
                      Nombre de la temática
                    </th>
                    <th class="w-1/6 min-w-[160px] text-lg font-semibold text-white py-3 px-3 lg:px-4">
                      Duración
                    </th>
                    <th class="w-1/6 min-w-[160px] text-lg font-semibold text-white py-3 px-3 lg:px-4">
                      Descripción
                    </th>
                    <th class="w-1/6 min-w-[160px] text-lg font-semibold text-white py-3 px-3 lg:px-4">
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let curso of data">
                    <td
                      class="flex items-center text-center text-dark font-medium text-base py-2 px-2 bg-[#F3F6FF] border-b border-l border-[#E8E8E8]">
                      <img [src]="curso.imagen" alt="Imagen del curso" class="w-12 h-12 object-cover rounded-full mr-4">
                      {{ curso.nombreCurso }}
                    </td>
                    <td
                      class="text-center text-dark font-medium text-base py-2 px-2 bg-white border-b border-[#E8E8E8]">
                      {{ curso.tiempo }}
                    </td>
                    <td
                      class="text-center text-dark font-medium text-base py-2 px-2 bg-[#F3F6FF] border-b border-[#E8E8E8]">
                      {{ curso.descripcion }}
                    </td>
                    <td class="text-center text-dark font-medium text-base py-2 px-2 bg-white border-b border-[#E8E8E8]">
                      
                      <span ngbTooltip="Editar" class="mr-4 cursor-pointer">
                        <i class="fas fa-edit" (click)="editarCurso(curso.id)"></i>
                      </span>
               
                      <span ngbTooltip="Eliminar" class="mr-4 cursor-pointer">
                        <i class="fas fa-trash " (click)="eliminarCurso(curso)"></i>
                      </span>
                      <span ngbTooltip="Ver Contenido" class="mr-4 cursor-pointer">
                        <i class="fas fa-eye " (click)="verContenidoCurso(curso.id, curso.nombreCurso)"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table> -->
            <app-shared-table
            [data]="data"
            [hasActionView]="true"
            [content]="verContenidoCurso"
            [hasActionDelete]="true"
            [delete]="eliminarCurso"
            [hasActionUpdate]="true"
            [update]="editarCurso"
            >
            </app-shared-table>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <div class="mt-[40px]">
      <app-pagination [list]="data" (currentPageChange)="handleCurrentPageChange($event)"></app-pagination>
    </div>
  </div>
</app-card-body>