<div class="footer-content">
    <div class="footer-img">
        <img src="../../../../assets/AMBIEFAC_LOGO.png" alt="">
    </div>
    <div class="footer-colum">
        <div class="footer-row title">
            <span>Contactanos</span>
        </div>
        <div class="footer-row">
            <ul>
                <li class="footer-colum-item">Telefono: +57 300 6953131</li>
                <li class="footer-colum-item">rrrodriguezl@emavi.edu.co</li>
                <!-- <li class="footer-colum-item">Formulario:</li> -->
            </ul>
        </div>
    </div>
    <div class="footer-colum">

    </div>
    <div class="footer-colum">

    </div>
</div>
<div class="derechos">
    <span>© 2023 AMBIEFAC. Todos los derechos reservados.</span>
</div>