<div class="login-body">
    <article class="login">
        <h3>Bienvenido a</h3>
        <h2>AMBIEFAC</h2>
        <form class="form">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                <input type="email" class="form-control-1" placeholder="Ingrese su correo">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                <input type="password" class="form-control-1" placeholder="Contraseña">
            </div>
            <button type="submit">Iniciar sesion</button>
            <span>
                Has olvidado tu contraseña?
            </span>
        </form>
    </article>
    <article>
        <div class="article-info">
            <h3>AMBIEFAC</h3>
            <div class="content-info">
                <p>Tu guía eco en una app. Cursos y consejos <br>
                    para salvar el planeta. Descárgala y haz la diferencia.</p>
                <button>Leer mas</button>
            </div>
        </div>
        <div class="large-circle"></div>
        <div class="large-circle-1"></div>
    </article>
</div>