body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // padding-top: 20%;
}

section {
  background-color: #f8f9fa;
  margin: 6% 0;
}

button:hover {
  animation: sacudida 0.5s ease-in-out;
}

/* Definición de la animación de sacudida */
@keyframes sacudida {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}

.title-ambiefac{
  font-size: 5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.text-header {
  h1 {
    font-size: 5.3rem;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  font-weight: normal;
}

// p {
//   font-size: 1.2rem;
//   margin-bottom: 30px;
//   line-height: 1.5;
// }


p{
  text-align: justify;
}

.content-comenzar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../../assets/cuidadno_el_planeta.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  margin: 12% 0px;


  .comenzar-row {
    text-align: center;
    margin: 24px 0;

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .ver-mas {
      width: 18rem;
      height: 47px;
      border-radius: 50px;
      background-color: #33cc57;
      color: #fff;
      padding: 6px 0;
      border: solid 1px #3333331c;
      font-weight: bold;
      box-shadow: 4px 5px 15px 2px rgb(0 0 0 / 0%);
      -webkit-box-shadow: 4px 5px 15px 2px rgb(0 0 0 / 18%);
      -moz-box-shadow: 4px 5px 15px 2px rgba(0, 0, 0, 0.75);
      transition: background-color 0.3s;

      &:hover {
        background-color: #2ecc71;
      }
    }
  }
}

.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('../.../../../../../assets/PANTALLA_INICIO_AMBIEFAC.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Esto crea el efecto de parallax */
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #33cc57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
