<section class="home-content-header">
    <div class="header-colum">
        <div class="header-colum-children">
            <h1>AMBIEFAC</h1>
            <h2>Descubre, Aprende y Transforma Tu Mundo</h2>
            <p>Descubres, aprendes y transformas tu mundo hacia un futuro más sostenible.</p>
        </div>
        <div class="header-colum-children">
            <button class="button-header">¡Incribete ahora!</button>
        </div>
    </div>
    <div class="header-colum">
        <img src="../.../../../../../assets/galeria-de-imagenes.png" alt="">
    </div>
</section>
<section>
    <div class="info-content">
        <div class="info-colum seccion-1">
            <div class="info-row titulo info-1">
                <h2>Titulo seccion II</h2>
            </div>
            <div class="info-row imagen">
                <img src="../.../../../../../assets/galeria-de-imagenes.png" alt="">
            </div>
        </div>
        <div class="info-colum seccion-2">
            <div class="info-row titulo info-2">
                <h2>Titulo sesccion</h2>
            </div>
            <div class="info-row parrafo">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus minus autem qui labore! Non sint
                    dolor ad, repudiandae deserunt eveniet quaerat at accusamus quidem ea vero inventore dignissimos
                    sunt magnam?</p>
            </div>
            <div class="info-row ">
                <button class="button-info">Button seccion</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="content-comenzar ">
        <div class="comenzar-row">
            <h2>Comience a aprender</h2>
        </div>
        <div class="comenzar-row">
            <Button class="ver-mas">Ver mas</Button>
        </div>
    </div>
</section>
<section>
    <div class="explore-cursos-content">
        <div class="cursos-row">
            <h2>Explore nuestros cursos</h2>
        </div>
        <div class="cursos-row cards">
            <div class="cursos-colum card-body">
                <div class="card-imagen"><img src="../../../../assets/galeria-de-imagenes.png" alt=""></div>
                <div class="titulo-card">
                    <h3>titulo card</h3>
                </div>
                <div class="parrafo-card">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quis molestiae vel non officiis.
                        Aliquid, atque fuga? Quidem, nam ipsam. Optio corrupti quibusdam delectus quisquam inventore
                        exercitationem voluptatum consequuntur est?</p>
                </div>
                <div class="button-card">
                    <button>¡Incribete ahora!</button>
                </div>
            </div>
            <div class="cursos-colum card-body">
                <div class="card-imagen"><img src="../../../../assets/galeria-de-imagenes.png" alt=""></div>
                <div class="titulo-card">
                    <h3>titulo card</h3>
                </div>
                <div class="parrafo-card">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quis molestiae vel non officiis.
                        Aliquid, atque fuga? Quidem, nam ipsam. Optio corrupti quibusdam delectus quisquam inventore
                        exercitationem voluptatum consequuntur est?</p>
                </div>
                <div class="button-card">
                    <button>¡Incribete ahora!</button>
                </div>
            </div>
            <div class="cursos-colum card-body">
                <div class="card-imagen"><img src="../../../../assets/galeria-de-imagenes.png" alt=""></div>
                <div class="titulo-card">
                    <h3>titulo card</h3>
                </div>
                <div class="parrafo-card">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quis molestiae vel non officiis.
                        Aliquid, atque fuga? Quidem, nam ipsam. Optio corrupti quibusdam delectus quisquam inventore
                        exercitationem voluptatum consequuntur est?</p>
                </div>
                <div class="button-card">
                    <button>¡Incribete ahora!</button>
                </div>
            </div>
        </div>
    </div>
</section>