<table border="1">
    <tr>
      <th rowspan="2">DIMENSION</th>
      <th rowspan="2">ACTIVIDAD</th>
      <th rowspan="2">TIPO DE META</th>
      <th rowspan="2">PROGRAMACION/2023</th>
      <th rowspan="2">PROGRAMACION MENSUAL</th>
      <th colspan="3">TOTAL EJECUTADO</th>
      <th rowspan="2">OBSERVACIONES</th>
    </tr>
    <tr>
      <th>EJECUTADO</th>
      <th>EJECUTAR</th>
      <th>AVANCE</th>
    </tr>
    <ng-container *ngFor="let dimension of data">
      <tr *ngFor="let actividad of dimension.ACTIVIDADES; let i = index">
        <td *ngIf="i === 0" [attr.rowspan]="dimension.ACTIVIDADES.length">{{ dimension.DIMENSION }}</td>
        <td>{{ actividad.ACTIVIDAD }}</td>
        <td>{{ actividad.TIPO_DE_META }}</td>
        <td>{{ actividad.PROGRAMACION_2023 }}</td>
        <td>{{ actividad.PROGRAMACION_MENSUAL }}</td>
        <td>{{ actividad.TOTAL_EJECUTADO.EJECUTADO }}</td>
        <td>{{ actividad.TOTAL_EJECUTADO.EJECUTAR }}</td>
        <td>{{ actividad.TOTAL_EJECUTADO.AVANCE }}</td>
        <td>{{ actividad.OBSERVACIONES }}</td>
      </tr>
    </ng-container>
  </table>
  