<div class="flex">
  <div [ngClass]="{'w-[5rem]': !isSidebarOpen, 'w-56': isSidebarOpen}"
    class="show-box sidebar min-h-screen overflow-hidden border-r transition-all duration-300">
    <div class="flex h-screen flex-col justify-between pt-2 pb-6">
      <div>
        <div class="w-max p-2.5 transition-all duration-300"
          [ngClass]="{'w-[5rem]': !isSidebarOpen, 'w-56': isSidebarOpen}">
          <img src="../../../../assets/AMBIEFAC_LOGO.png" class="w-[54px] " alt="">
        </div>
        <ul class="mt-6 space-y-2 tracking-wide pl-[6px]">
          <li class="min-w-max" *ngFor="let link of sidebarLinks" (click)="navigateTo(link.route)">
            <a class="bg group flex items-center space-x-4 rounded-full py-3 text-gray-600 hover:bg-green-600 hover:text-white transition duration-300" (click)="selectLink(link)"
              [ngClass]="{'bg-gradient-to-r from-green-600 to-green-800 text-white': link.selected, '': !link.selected}">
              <i [ngClass]="'fas ' + link.icon + ' text-xl'+' mx-4'"></i>
              <span class="group-hover:text-white">{{link.label}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="w-max -mb-3">
        <a class="group flex items-center space-x-4 rounded-md  px-[12px] py-3 text-gray-600" (click)="logOut()">
          <i class="fa-solid fa-right-from-bracket text-xl mx-4"></i>
          <span class="group-hover:text-gray-700">Exit</span>
        </a>
      </div>
    </div>
  </div>
  <button (click)="toggleSidebar()" [ngClass]="{'left-[4rem]': !isSidebarOpen, 'leftmenu': isSidebarOpen}"
    class=" fixed-button justify-center items-center flex  bg-green-600 hover:bg-green-400 text-white rounded-full focus:outline-none transition-all duration-300">
    <svg *ngIf="!isSidebarOpen" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
    <svg *ngIf="isSidebarOpen" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <div class="flex-1 px-4 overflow-y-auto  scrollable-content">
    <div style="max-height: 100vh; overflow-y: auto;" class="scrollable-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>