<ul class="w-full   border-r-2 py-6 flex flex-col justify-between items-center">
  <li *ngFor="let menuItem of menuItems; let i = index" class=" w-full  border-b-2 "
    [ngClass]="{'bg-[#edfff3]': menuItem.showSubMenu}">
    <div class="flex flex-row justify-between m-2 h-[40px]" (click)="toggleSubMenu(menuItem, i)">
      <div class="cursor-pointer text-gray-800 font-bold">
        {{ menuItem.subtopic_name }}
      </div>
      <div *ngIf="menuItem.information" class="ml-2  ">
        <i class="fas fa-chevron-down"
          [ngClass]="{'fa-chevron-down': !menuItem.showSubMenu, 'fa-chevron-up': menuItem.showSubMenu}"
          (click)="toggleSubMenu(menuItem, i)"></i>
      </div>
    </div>

    <ul *ngIf="menuItem.information && menuItem.showSubMenu" class="mb-4">
      <li *ngFor="let subMenuItem of menuItem.information; let j = index" class="text-gray-500 border-l-4 ml-4 border-dashed">
        <div class="cursor-pointer ml-4 m-4 h-[40px]" (click)="navigateToContent(menuItem, j)">
          {{ subMenuItem.title }}
        </div>
      </li>
    </ul>
  </li>
  <li class="mb-4 w-full  border-b-2 " *ngIf="dataTopic.exam_id">
    <div class="flex flex-row justify-between m-2 h-[40px]">
      <p class="cursor-pointer text-gray-800 font-bold" (click)="navigateToExam()">
        Examen
      </p>
    </div>
  </li>
</ul>