<app-card-body [Titulo]='titulo' [linkBack]="return" [ButtonRigth]="saveElemts"
  [tooltip]="'Nuevo contenido'" [tooltipBack]="'Volver'" >
  <section cdkDropListGroup class="layout">
    <div class="sidebar">
      <div class="example-container">
        <h2 class="text-black"> Elementos</h2>
        <div cdkDropList [cdkDropListData]="todo" class="border-1 grid grid-cols-3 gap-4 h-[50vh] "
          (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
          <div class="text-black py-[20px]" *ngFor="let item of todo" cdkDrag>
            <ng-container [ngSwitch]="item.type">
              <div class="flex flex-col items-center">
                <div *ngSwitchCase="'image'">
                  <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 512 512">
                    <path fill="#969696"
                      d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
                  </svg>
                </div>
                <div *ngSwitchCase="'text'">
                  <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 448 512">
                    <path fill="#969696"
                      d="M254 52.8C249.3 40.3 237.3 32 224 32s-25.3 8.3-30 20.8L57.8 416H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32h-1.8l18-48H303.8l18 48H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H390.2L254 52.8zM279.8 304H168.2L224 155.1 279.8 304z" />
                  </svg>
                </div>
                <div *ngSwitchCase="'video'">
                  <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 576 512">
                    <path fill="#969696"
                      d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z" />
                  </svg>
                </div>
                <p>{{item.type.toUpperCase()}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="example-container w-100">
        <h2 class="text-black">Contenido</h2>
        <form [formGroup]="contentForm"> <!-- Agrega un formulario y enlázalo con tu FormGroup -->
          <div cdkDropList [cdkDropListData]="done" class="example-list w-[100%] scrollContent"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box w-full" *ngFor="let item of done; let i = index" cdkDrag>
              <div class="w-[100%] mr-[8px] flex flex-col items-center " [formArrayName]="'contentArray'">
                <!-- Usa formArrayName para enlazar con el FormArray -->
                <ng-container class="w-100" [ngSwitch]="item.type" [formGroupName]="i">
                  <!-- Usa formGroupName para enlazar con el FormGroup del elemento actual -->
                  <div class="flex flex-row justify-between w-[100%]">
                    <h3>Posicion {{ contentArray.controls[i].get('position')?.value || i + 1 }}</h3>
                    <button (click)="deleteItem(i)"><i class="fa-regular fa-trash-can"></i></button>
                  </div>
                  <div *ngSwitchCase="'text'" class="w-100">
                    <div class="m-2 w-[100%]">
                      <label for="tiempo" class="block mb-2 text-sm font-medium text-gray-900">Titulo</label>
                      <input type="text" id="tiempo" placeholder="Ejemplo: 30 hr"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        formControlName="title" required>
                        <div *ngIf="contentArray.controls[i].get('title')?.invalid && contentArray.controls[i].get('title')?.touched">
                          Campo obligatorio
                        </div>
                    </div>
                    <div class="m-2 w-[100%]">
                      <label for="Descripcion" class="block mb-2 text-sm font-medium text-gray-900">Descripcion</label>
                      <textarea id="Descripcion"
                        placeholder="Ejemplo: Aprende las mejores prácticas para la gestión sostenible de residuos....... "
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        formControlName="InfoContent" required></textarea>
                        <div *ngIf="contentArray.controls[i].get('InfoContent')?.invalid && contentArray.controls[i].get('title')?.touched">
                          Campo obligatorio. Por favor, proporciona una descripción.
                        </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'video'" class="flex flex-col w-50">
                    <div class="m-2 w-[100%]">
                      <label for="tiempo" class="block mb-2 text-sm font-medium text-gray-900">Titulo</label>
                      <input type="text" id="tiempo" placeholder="Ejemplo: 30 hr"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        formControlName="title" required>
                        <div *ngIf="contentArray.controls[i].get('title')?.invalid && contentArray.controls[i].get('title')?.touched">
                          Campo obligatorio.
                        </div>
                    </div>
                    <div class="m-2 w-[100%]" >
                      <label for="videoFile" class="block mb-2 text-sm font-medium text-gray-900">Link Video</label>
                      <input type="text" id="videoFile"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        formControlName="InfoContent" required>
                        <div *ngIf="contentArray.controls[i].get('InfoContent')?.invalid && contentArray.controls[i].get('title')?.touched">
                          Por favor, proporciona un enlace de video válido.
                        </div>
                      <div class="mt-[10px] flex flex-row jumbotron w-100 justify-center" *ngIf="viewVideo(i)">
                        <iframe width="560" height="315" [src]="viewVideo(i)" title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'image'" class="flex flex-col w-50" >
                    <div class="m-2 w-[100%]">
                      <label for="tiempo" class="block mb-2 text-sm font-medium text-gray-900">Titulo</label>
                      <input type="text" id="tiempo" placeholder="Ejemplo: 30 hr"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        formControlName="title" required>
                        <div *ngIf="contentArray.controls[i].get('title')?.invalid && contentArray.controls[i].get('title')?.touched">
                          Campo obligatorio.
                        </div>
                    </div>
                    <div class="m-2 w-[100%]">
                    <label for="imageFile" class="block mb-2 text-sm font-medium text-gray-900">Subir Imagen</label>
                    <input type="text" id="imageFile"
                      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      formControlName="InfoContent" required>
                      <div *ngIf="contentArray.controls[i].get('InfoContent')?.invalid && contentArray.controls[i].get('title')?.touched">
                        Por favor, proporciona un enlace o carga una imagen válida.
                      </div>
                    </div>
                    <div class="m-2  flex flex-row jumbotron w-100 justify-center" *ngIf="viewImage(i)">
                      <img [src]="viewImage(i)" alt="Vista previa de la imagen"
                      style="max-width: 100%; max-height: 200px;">
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>

</app-card-body>