<nav class="nav_bar">
    <div class="logo" (click)="redirecToHome()"></div>
    <ul class="nav-list_" [class.show]="showMenu">
      <li (click)="redirecToCursos()"><a>Cursos</a></li>
      <!-- <li><a href="#">Mas</a></li>
      <li><a href="#">Apoyo</a></li> -->
      <li><a href="#">Sobre nosotros</a></li>
      <li class="dropdown" (click)="toggleDropdown()">
        <a>Login</a>
        <div class="dropdown-content"  *ngIf="showDropdown">
            <ul>
              <li (click)="redirecToLogin()">Iniciar sesion</li>
              <li (click)="redirecToRegister()" >Resgistrarme</li>
            </ul>

        </div>
    </li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <div class="button-search"></div>
    </div>
    <div class="login-button" >
      <a (click)="redirecToLogin()" >Iniciar sesion</a>
      <div class="dropdown-content">
        <a (click)="redirecToRegister()">Registrarme</a>
    </div>
    </div>
    <div class="burger-menu" (click)="toggleMenu()">&#9776;</div>
  </nav>
  