@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header-topic {
    
    background-color: #f5f5f5;
    padding: 65px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-topic-row {
    display: flex;
    flex-wrap: wrap; // Añadido para permitir envolver los elementos en pantallas pequeñas
    justify-content: space-between;
    align-items: center;

    .header-topic-colum {
        flex: 1;
        margin-bottom: 20px; // Espaciado entre las columnas en pantallas pequeñas
    }
}

.tile-topic {
    background-color: #2cc04f;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    padding: 0 15px; // Añadido para espaciado en los lados en pantallas pequeñas

    p {
        color: #f6f6f6c4;
    }

    h1 {
        font-size: 24px;
        color: #fafafa;
        font-weight: bold;
        margin: 10px 0;
    }
}

.image-topic img {
    max-width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantendrá la proporción de aspecto */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    image-rendering: -webkit-optimize-contrast; /* Para mejorar la renderización en navegadores WebKit */
}



@media (max-width: 768px) {
    .header-topic-row {
        flex-direction: column; 
        text-align: center; 
    }

    .tile-topic {
        width: 100%;
    }
}


.information-topic {
    background-color: #fff;
    margin: 18px 14%;
    text-align: center;

    &-row {
        display: flex;
        flex-wrap: wrap;
        margin:21px -100px 0px 0px;
        background: #fff;
    }

    &-colum {
        flex: 1;
        padding: 8px;
        background-color: #fff;

        &.duration {
            padding: 10px;
            flex: 0 4 23%;
            margin: 0 12%;
            background-color: #fff;
            display: flex;
            box-shadow: -23px 2px 30px -23px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -22px 9px 30px -45px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -23px 2px 30px -23px rgba(0, 0, 0, 0.75);
            flex-direction: column;
            align-items: flex-start;

            .duration-topic-row {
                margin: 16px;
                .length {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 16px;
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
            }

            p {
                margin: 0;
            }
        }

        .card-topic {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            width: 100%;

            .card-topic-row {
                display: flex;
                flex-direction: row;
                align-items: center;

                .card-topic-colum {
                    flex: 1;
                    padding: 20px;

                }
                .item-topic {
                    flex: 0 0 20%;
                    
                    h1{
                        font-family: 'Rampart One', sans-serif;
                        font-size: 80px;
                        color: #333;
                        margin: 0;
                    }
                }

                .information-card {
                    flex: 0 0 60%;
                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        color: #333;
                        margin-bottom: 10px;
                    }

                    .info {
                        font-size: 14px;
                        color: #666;
                    }
                }

                .button-card {
                    flex: 0 0 20%;
                    button {
                        padding: 10px 20px;
                        background-color: #4caf50;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 16px;

                        &:hover {
                            background-color: #45a049;
                        }
                    }
                }
            }
        }

        .join-up-topic {
            span {
                font-weight: bold;
                width: 75%;
            }
        }
    }

    @media (min-width: 300px) and (max-width: 680px) {
        margin: 6px 0%;
        .information-topic-row {
            justify-content: center;
        }
        .information-topic-colum.duration {
            flex-direction: row;
        }
        .information-topic-row{
            margin: 0px;
        }
        .information-topic-colum .card-topic {
            width: 100%;
        }
        
        .information-topic-colum .card-topic .card-topic-row {
            width: 80%;
        }
    }
}